<div class='aboutus multipage'>
    <div class="textField">
        <div class="formField">
            <input type="text" class="input" required='true' id="product" name="product" />
            <span>Your Product or Service</span>
        </div>
        <p class="errortext"></p>
    </div>
    <div class="textField">
        <div class="formField">
            <input type="text" class="input" required='true' id="city" name="city" />
            <span>City of business</span>
        </div>
        <p class="errortext"></p>
    </div>
    <div class="textField">
        <div class="formField">
            <input type="text" class="input" required='true' id="establishedYear" name="establishedYear" />
            <span>Established year of your business</span>
        </div>
        <p class="errortext"></p>
    </div>
    <div class="textField">
        <div class="formField">
            <input type="text" class="input" required='true' id="additionalProduct" name="additionalProduct" />
            <span>Your Additional Product or Service</span>
        </div>
        <p class="errortext"></p>
    </div>
</div>