<div class="business-details multipage">
    <div class="themeChoose">
        <p>Which theme you choose?</p>
        <div class="body">
            <div class="tabs">
                <input checked="" value="1" name="fav_language" id="t1" type="radio" class="input" />
                <label for="t1" class="label">Theme 1</label>
                <input value="2" name="fav_language" id="t2" type="radio" class="input" />
                <label for="t2" class="label">Theme 2</label>
                <input value="3" name="fav_language" id="t3" type="radio" class="input" />
                <label for="t3" class="label">Theme 3</label>
                <input value="4" name="fav_language" id="t4" type="radio" class="input" />
                <label for="t4" class="label">Theme 4</label>
            </div>
        </div>
    </div>
    <div class="dropbox_section">
        <p>Logo of Business</p>
        <div class="file-upload-form">
            <label class="file-upload-label">
                <div class="file-upload-design">
                    <p>Drag and Drop</p>
                    <p>or</p>
                    <span class="browse-button">Browse file</span>
                </div>
                <input type="file" id="logo" name="logo" />
            </label>
        </div>
    </div>

    <div class="dropbox_section">
        <p>Landscape image of your business work</p>
        <div class="file-upload-form">
            <label class="file-upload-label">
                <div class="file-upload-design">
                    <p>Drag and Drop</p>
                    <p>or</p>
                    <span class="browse-button">Browse file</span>
                </div>
                <input type="file" id="mainImage" name="mainImage" />
            </label>
        </div>
    </div>
    <div class="textField">
        <div class="formField">
            <input type="text" class="input" id="Name_of_Business" name="Name_of_Business" required="true" />
            <span>Name of Business</span>
        </div>
        <p class="errortext"></p>
    </div>
    <div class="textField">
        <div class="formField">
            <input type="text" class="input" required="true" id='Tagline' name="Tagline" />
            <span> Tag line of your business</span>
        </div>
        <p class="errortext"></p>
    </div>
</div>