<div class="contact-details multipage">
    <div class="textField">
        <div class="formField">
            <input type="text" class="input" required={true} id="businessEmail" name="businessEmail" />
            <span>Email</span>
        </div>
        <p class="errortext"></p>
    </div>
    <div class="textField">
        <div class="formField">
            <input type="text" class="input" required={true} id="phone" name="phone" />
            <span>Phone</span>
        </div>
        <p class="errortext"></p>
    </div>
    <div class="textField">
        <div class="formField">
            <textarea class="input" required={true} id="address" name="address"></textarea>
            <span>Address</span>
        </div>
        <p class="errortext"></p>
    </div>
    <div class="textField">
        <div class="formField">
            <input type="text" class="input" required={true} id="calendlyLink" name="calendlyLink" />
            <span>Calendy Link</span>
        </div>
        <p class="errortext"></p>
        <p id='calendyYtInfo'>Don't know what is Calendy? Check this out</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/T-OTCU1xXmY?si=xhs0_uAIElOFV3Aa"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="textField">
        <div class="formField">
            <input type="text" class="input" id="instagramLink" name="instagramLink" />
            <span>Instagram Link</span>
        </div>
    </div>
    <div class="textField">
        <div class="formField">
            <input type="text" class="input" id="facebookLink" name="facebookLink" />
            <span>Facebook Link</span>
        </div>
    </div>
    <div class="textField">
        <div class="formField">
            <input type="text" class="input" id="yelpLink" name="yelpLink" />
            <span>Yelp Link</span>
        </div>
    </div>
    <div class="textField">
        <div class="formField">
            <input type="text" class="input" id="linkedinLink" name="linkedinLink" />
            <span>Linkedin Link</span>
        </div>
    </div>
    <div class="textField">
        <div class="formField">
            <input type="text" class="input" id="xLink" name="xLink" />
            <span>X Link</span>
        </div>
    </div>
    <div class="textField">
        <div class="formField">
            <input type="text" class="input" id="tiktokLink" name="tiktokLink" />
            <span>Tiktok Link</span>
        </div>
    </div>
</div>