<div class='features multipage'>
    <div>
        <div class="textField">
            <div class="formField">
                <textarea class="input textarea" required='true' id="betterQuality" name="betterQuality"></textarea>
                <span>Tell us how your service or product is better than
                    others</span>
            </div>
            <p class="errortext"></p>
        </div>
        <div class="dropbox_section">
            <div class="file-upload-form">
                <label class="file-upload-label">
                    <div class="file-upload-design">
                        <p>Drag and Drop</p>
                        <p>or</p>
                        <span class="browse-button">Browse file</span>
                    </div>
                    <input type="file" id="betterQualityImage" name="betterQualityImage" />
                </label>
            </div>
        </div>
    </div>
    <div>
        <div class="textField">
            <div class="formField">
                <textarea class="input textarea" required='true' id="customerSupport" name="customerSupport"></textarea>
                <span>Tell us how your team satisfy customers with your customer
                    support</span>
            </div>
            <p class="errortext"></p>
        </div>
        <div class="dropbox_section">
            <div class="file-upload-form">
                <label class="file-upload-label">
                    <div class="file-upload-design">
                        <p>Drag and Drop</p>
                        <p>or</p>
                        <span class="browse-button">Browse file</span>
                    </div>
                    <input type="file" id="customerSupportImage" name="customerSupportImage" />
                </label>
            </div>
        </div>
    </div>
    <div>
        <div class="textField">
            <div class="formField">
                <textarea class="input textarea" required='true' id="experience" name="experience"></textarea>
                <span>Tell us your experience with-in your work industry </span>
            </div>
            <p class="errortext"></p>
        </div>
        <div class="dropbox_section">
            <div class="file-upload-form">
                <label class="file-upload-label">
                    <div class="file-upload-design">
                        <p>Drag and Drop</p>
                        <p>or</p>
                        <span class="browse-button">Browse file</span>
                    </div>
                    <input type="file" id="experienceImage" name="experienceImage" />
                </label>
            </div>
        </div>
    </div>
</div>